[user]
    email = nos@utel.tech
    name = Nils O. Selåsdal
[alias]
    # list all branches
    br = branch -va
    ci = commit
    co = checkout
    st = status
    # List remote branches
    blr = for-each-ref --sort=-committerdate refs/remotes/ --format='%(committerdate:short) %(align:width=36)%(refname:lstrip=3)%(end) %(objectname:short) %(authorname)' 
    # List local branches
    bll = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(align:width=36)%(HEAD)%(refname:short)%(end) %(objectname:short) %(authorname) %(push:track)'
    # show commits not pused upstream. Doesn't work if upstream branch is missing
    unpushed = log --color @{push}.. --oneline
    # various handy log outputs
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    flog = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    vlog = log --name-status
    #briefdiff, handy for showing branch changes (use with master...branchname)
    briefdiff = diff  --stat --color 
    diffall = !git difftool --dir-diff
    # delete branches removed from upstream. 
    # Shows command to run, but doesn't run them
    bd =!git pull --prune --quiet  && git for-each-ref --format='%(if:equals=[gone])%(upstream:track)%(then)git branch -d %(refname:short)%(else)echo still in use: %(refname:short)%(end)' refs/heads
    # force delete brances removed from upstream 
    # Outputs the commands to run, doesn't run them automatically
    bx =!git pull --prune --quiet && git for-each-ref --format='%(if:equals=[gone])%(upstream:track)%(then)git branch -D %(refname:short)%(else)echo still in use: %(refname:short)%(end)' refs/heads

    psu = push --set-upstream origin HEAD
    up = "!git fetch -p; git merge --ff-only @{u}"

    # integrate main/master branch without rebasing (avoid disaster when using rebase=true config)
    pmaster = pull origin master --no-rebase
    pmain = pull origin main --no-rebase
    shortref = rev-parse --short HEAD
    fix-email = commit --amend --author='Nils O. Selåsdal <nos@utel.tech>' --no-edit
    diffn = !GIT_PAGER=diffnav  git diff

[diff]
    tool = vimdiff
    guitool = kdiff3
    renames = true
    wsErrorHighlight = all
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    wsErrorHighlight = all

[difftool]
    prompt = false

[column]
    ui = auto

[core]
    autocrlf = false

[push]
    default = current
    followTags = true
    autoSetupRemote = true

[pull]
    rebase = true


[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[log]
    follow = true
[safe]
    directory = *1

[init]
    defaultBranch = main

[tag]
    sort = version:refname

[fetch]
    prune = true
    pruneTags = true

[difftool "kdiff3"]
    trustExitCode = false
